<link href="images/style.css" rel="stylesheet" type="text/css">
 
<table width="776" height="69" border="0" align="center" cellpadding="0" cellspacing="0" background="images/topbg.gif">
  <tr>
    <td width="178" align="center">{#modLogo#}</td>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="22">&nbsp;</td>
          <td align="right" style="padding-right:8px"><img src="images/titledot.gif" width="9" height="9"> <font style="cursor:hand;color:#ffffff" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{#SiteHttp#}');">{#lanSetIndex#}</font> <img src="images/titledot.gif" width="9" height="9"> <font style="cursor:hand;color:#ffffff" onClick="window.external.addFavorite('{#SiteHttp#}','{#SiteName#}')">{#lanAddFav#}</font></td>
        </tr>
        <tr>
          <td width="12" height="47"><img src="images/top1.gif" width="12" height="47"></td>
          <td background="images/top2.gif" style="padding-top:5px">{#modLoginForm#}</td>
        </tr>
    </table></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="10" background="images/topline1.gif">
  <tr>
    <td width="220" align="center"></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="31" background="images/menubg.gif">
  <tr>
    <td>{#modMainMenu#}</td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" background="images/smenubg.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td style="padding-left:10px">{#modSecondMenu#}</td>
  </tr>
</table>
<table width="776" border="0" cellspacing="0" cellpadding="0" align="center" background="images/centerbg.gif" height="80" >
  <tr>
    <td height=3 bgcolor="#ffffff"></td>
  </tr><tr>
    <td align="center">{#Advs[1][776*81]#}</td>
  </tr>  <tr>
    <td height=3 bgcolor="#ffffff"></td>
  </tr>
</table>

<TABLE cellSpacing=0 cellPadding=0 width="776" align=center border=0 background="images/centerbg.gif" >
  <TBODY> 
  <TR>
    <TD vAlign=top width=195 background=images/leftbg.gif height=186> 
      <TABLE height=30 cellSpacing=0 cellPadding=0 width=195 background=images/lefttitle.gif border=0>
        <TBODY> 
        <TR>
<TD>
            <TABLE cellSpacing=0 cellPadding=0 width=180 border=0>
              <TBODY> 
              <TR> 
                <TD width=12></TD>
                <TD class="lefttitle" > {#lanClass#}</TD>
              </TR>
              </TBODY>
            </TABLE>
        </TD></TR></TBODY></TABLE>
<TABLE height=120 cellSpacing=3 cellPadding=2 width="98%" align=center border=0>
<TBODY>
<TR>
          <TD vAlign=top>{#modDownClass#}</TD>
        </TR></TBODY></TABLE>
    </TD>
    <TD vAlign=top width=5 background="images/hline.gif"></TD>
    <TD vAlign=top height=200> 
      <table height=26 cellspacing=0 cellpadding=0 width="100%" align=center border=0 background="images/navbg.gif">
        <tbody> 
        <tr> 
          <td class=nav>{#lanLocat#}:<a class=nav href="../../">{#SiteName#}</a> &gt; 
            <a href="./" class=nav>{#NowMenu#}</a> {#modNavPath#}</td>
        </tr>
        </tbody>
      </table>
      <table height=43 cellspacing=0 cellpadding=0 width="100%" background=images/centertitle.gif border=0>
        
        <tr> 
          <td> 
            <table cellspacing=0 cellpadding=0 width="100%" border=0>
              <tbody> 
              <form name="search" action="../class/">
                <tr> 
                  <td width="80" align="center"> {#lanInerSearch#}:</td>
                  <td> 
                    <input type="text" name="key" class="input" value="{#key#}" size="38">
                    <input type="submit" name="Submit" value="{#lanSearch#}" class="button">
                  </td>
                </tr>
              </form>
             
            </table>
          </td>
        </tr>
        
      </table>
      <TABLE height=200 cellSpacing=0 cellPadding=0 width="100%" border=0>
        <TBODY> 
        <TR vAlign=top>
          <TD>{#modDownQuery#}</TD>
        </TR></TBODY></TABLE>
<TABLE height=43 cellSpacing=0 cellPadding=4 width="100%" align=center background=images/showpage.gif border=0>
<TBODY>
<TR>
<TD class=pagesinfo width=300>{#PagesInfo#}</TD>
<TD class=pages align=right>{#ShowPages#}</TD></TR></TBODY></TABLE>
    </TD>
  </TR></TBODY></TABLE>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="10" background="images/topline1.gif">
  <tr>
    <td width="220" align="center"></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="29" background="images/btbg.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td colspan="2" align="center">{#modBottomMenu#}</td>
  </tr>
</table>
<table width="776" height="4" border=0 align="center" cellpadding=0 cellspacing=0 background="images/topline2.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td height="1" bgcolor="#d2d2d2"></td>
  </tr>
  <tr>
    <td height="3" bgcolor="#eeeeee"></td>
  </tr>
</table>
<table width="776" border="0" cellspacing="0" cellpadding="8" align="center" style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid" background="images/bottombg.gif">
  <tr align="center" bgcolor="#E6E6E6">
    <td  height="1"></td>
  </tr>
  <tr align="center">
    <td  height="60"><font color="#333333">{#modButtomInfo#}</font></td>
  </tr>
  <tr align="center">
    <td  height="30"><font color="#000000"> {#modShowCount#}</font></td>
  </tr>
</table>
<table width="776" height="4" border=0 align="center" cellpadding=0 cellspacing=0 background="images/topline2.gif">
  <tr>
    <td height="1" bgcolor="#d2d2d2"></td>
  </tr>
  <tr>
    <td height="3" bgcolor="#eeeeee"></td>
  </tr>
</table>
