<link href="images/style.css" rel="stylesheet" type="text/css">


<table width="776" height="69" border="0" align="center" cellpadding="0" cellspacing="0" background="images/topbg.gif">
  <tr>
    <td width="178" align="center">{#modLogo#}</td>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="22">&nbsp;</td>
          <td align="right" style="padding-right:8px"><img src="images/titledot.gif" width="9" height="9"> <font style="cursor:hand;color:#ffffff" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{#SiteHttp#}');">{#lanSetIndex#}</font> <img src="images/titledot.gif" width="9" height="9"> <font style="cursor:hand;color:#ffffff" onClick="window.external.addFavorite('{#SiteHttp#}','{#SiteName#}')">{#lanAddFav#}</font></td>
        </tr>
        <tr>
          <td width="12" height="47"><img src="images/top1.gif" width="12" height="47"></td>
          <td background="images/top2.gif" style="padding-top:5px">{#modLoginForm#}</td>
        </tr>
    </table></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="10" background="images/topline1.gif">
  <tr>
    <td width="220" align="center"></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="31" background="images/menubg.gif">
  <tr>
    <td>{#modMainMenu#}</td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" background="images/smenubg.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td style="padding-left:10px">{#modSecondMenu#}</td>
  </tr>
</table>
<table width="776" border="0" cellspacing="0" cellpadding="0" align="center" background="images/centerbg.gif" height="80" >
  <tr>
    <td height=3 bgcolor="#ffffff"></td>
  </tr><tr>
    <td align="center">{#Advs[1][776*81]#}</td>
  </tr>  <tr>
    <td height=3 bgcolor="#ffffff"></td>
  </tr>
</table>

<table width="776" border="0" cellspacing="0" cellpadding="0" height="200" background="images/centerbg.gif" align="center">
  <tr>
    <td height="186" valign="top"><table  width="100%" border="0" cellspacing="1" cellpadding="0">
        <tr>
          <td  valign="top"><table height=26 cellspacing=0 cellpadding=0 width="100%" align=center border=0 background="images/navbg.gif">
            <tbody>
              <tr>
                <td class=nav>{#lanLocat#}:<a class=nav href="../../../../">{#SiteName#}</a> &gt; <a href="../main/" class=nav>{#NowMenu#}</a>  &gt; {#title#}</td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
        
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="25" background="images/companytitle.gif">
        <tr>
          <td width="50" align="center"><img src="images/companytitle1.gif" width="24" height="25"></td>
          <td style="font-size:14px;color:#ffffff;font-weight:bold">{#lanHdDetail#}</td>
        </tr>
      </table>  
      <table width="100%"  border="0" cellpadding="8" cellspacing="1" bgcolor="#f0f0f0">
        <tr>
          <td><script>
function setImg(theURL,theLink,px){ 

	imgObj = new Image();
	imgObj.src = theURL;
	if(!imgObj.width){
		document.write("<a href='"+ theLink +"' target='_blank'><img src='"+ theURL +"'  width='"+ px +"'  border=0 ></a>");
	}else{
	
	if(imgObj.width>=imgObj.height){
		if(imgObj.width>=px){
			document.write("<a href='"+ theLink +"'  target='_blank'><img src='"+ theURL +"' width='"+ px +"' border=0 ></a>");
		}else{
			document.write("<a href='"+ theLink +"'  target='_blank'><img src='"+ theURL +"'  border=0 ></a>");
		}
	}else{
		if(imgObj.height>=px){
			document.write("<a href='"+ theLink +"'  target='_blank'><img src='"+ theURL +"' height='"+ px +"'  border=0 ></a>");
		}else{
			document.write("<a href='"+ theLink +"'  target='_blank'><img src='"+ theURL +"'  border=0 ></a>");
		}
	}
	}
	
}
</script> <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td width="26"><img src="images/bbslist.gif" width="15" height="17"></td>
                  <td height="33"><strong>{#lanHdTitle#}:{#title#}</strong></td>
                  <td width="180" style="padding-right:12px"><img src="images/point_select.gif" width="11" height="11"> {#lanPubTime#}:{#uptime#}</td>
                  <td width="180" align="right" style="padding-right:12px"><img src="images/x25.gif" width="14" height="11"> {#lanHdByName#}:<a href="{#companylink#}">{#name#}</a> - <a href="{#feedbacklink#}">{#lanContactme#}</a></td>
                </tr>
              </table>
              <table width="90%" height="3"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#e2e2e2">
                <tr>
                  <td align="right"><table width="8" height="3" border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0">
                      <tr>
                        <td></td>
                      </tr>
                  </table></td>
                </tr>
            </table>
              <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="3" valign="bottom" bgcolor="#e2e2e2"><table width="100%" height="8"  border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0">
                      <tr>
                        <td></td>
                      </tr>
                  </table></td>
                  <td><table width="100%" align="center"  cellpadding="2"  cellspacing="0" bgcolor="#FFFFFF" class=table >
                      <tr >
                        <td width="200" height="31" align=center valign="top"  class="companyquery" style="padding:10px"><table width="80" border="0" cellpadding="2" cellspacing="1" bgcolor="#d2d2d2">
                            <tr>
                              <td align="center" bgcolor="#FFFFFF"><script>setImg('{#src#}','{#src#}',250);</script></td>
                            </tr>
                        </table></td>
                        <td align="right" valign="top" class="companyquery"  style="padding:10px">
						  <table width="96%" height="30" border="0" cellpadding="2" cellspacing="1" class=table>
                            <tr class=list>
                              <td width="90" align="center">{#lanHdTitle#}:</td>
                              <td>{#title#}</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr class=list>
                              <td width="90" align="center">{#lanHdAddr#}:</td>
                              <td>{#playaddr#}</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr class=list>
                              <td width="90" align="center">{#lanHdTime#}:</td>
                              <td>{#playtime#}</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr class=list>
                              <td width="90" align="center">{#lanHdExpTime#}:</td>
                              <td>{#exptime#}</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr class=list>
                              <td width="90" align="center">{#lanHdPnums#}:</td>
                              <td>{#pnums#}{#lanPerson#}</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr class=list>
                              <td width="90" align="center">{#lanHdXiaofei#}:</td>
                              <td>{#xiaofei#}{#lanYuan#}/{#lanPerson#}</td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr class=list>
                              <td width="90" align="center">{#lanHdAddnums#}:</td>
                              <td>{#addnums#}{#lanPerson#}</td>
                              <td width="90" align="right"><font color="#ff6600">{#saystat#}</font></td>
                            </tr>
                        </table></td>
                      </tr>
                  </table></td>
                </tr>
            </table>
              <br>
              <table width="90%"  border="0" align="center" cellpadding="12" cellspacing="3"  class=table>
                <tr>
                  <td height="80" valign="top" bgcolor="#FFFFFF">{#body#}</td>
                </tr>
            </table>
              <br>
              <table class=table width="90%" height="26"  border="0" align="center" cellpadding="0" cellspacing="0" background="images/navbg.gif" >
                <tr>
                  <td width="26" align="center"><img src="images/bbslist.gif" width="15" height="17"></td>
                  <td><strong>{#lanRealteBbs#}</strong></td>
                  <td width="280" align="right" style="padding-right:12px"><img src="images/morepic.gif" width="12" height="12"> <a href="{#bbsurl#}" class="fontg">{#lanHdBBsMore#}</a> <font style="font-size:9px;color:#336699"><img src="images/join.gif" width="10" height="9"></font> <a href="#feedback" class="fontg">{#lanPubBbs#}</a> <font style="font-size:9px;color:#666666">| </font><a href="#feedback" class="fontg">{#lanHdBm#}</a></td>
                </tr>
            </table>
              <br>
              <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                  <td height="80" valign="top">{#modHdCommentList#}</td>
                </tr>
            </table>
              <a name="feedback"></a><br>
              <table width="90%" height="32"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="26" align="center"><img src="images/morepic.gif" width="12" height="12"></td>
                  <td>&nbsp;<strong>{#lanHdPubBbs#}</strong></td>
                </tr>
            </table>
              <table width="90%" height="3"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#e2e2e2">
                <tr>
                  <td align="right"><table width="8" height="3" border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0">
                      <tr>
                        <td></td>
                      </tr>
                  </table></td>
                </tr>
            </table>
              <table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="3" valign="bottom" bgcolor="#e2e2e2"><table width="100%" height="8"  border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0">
                      <tr>
                        <td></td>
                      </tr>
                  </table></td>
                  <td><table width="100%" height="100"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class=table>
                      <tr>
                        <td valign="top" style="padding:1px">{#modHdCommentForm#}</td>
                      </tr>
                  </table></td>
                </tr>
            </table>
              <br>
          </td>
        </tr>
      </table></td>
    <TD vAlign=top width=1 background="images/hline.gif"></TD>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="10" background="images/topline1.gif">
  <tr>
    <td width="220" align="center"></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="29" background="images/btbg.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td colspan="2" align="center">{#modBottomMenu#}</td>
  </tr>
</table>
<table width="776" height="4" border=0 align="center" cellpadding=0 cellspacing=0 background="images/topline2.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td height="1" bgcolor="#d2d2d2"></td>
  </tr>
  <tr>
    <td height="3" bgcolor="#eeeeee"></td>
  </tr>
</table>
<table width="776" border="0" cellspacing="0" cellpadding="8" align="center" style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid" background="images/bottombg.gif">
  <tr align="center" bgcolor="#E6E6E6">
    <td  height="1"></td>
  </tr>
  <tr align="center">
    <td  height="60"><font color="#333333">{#modButtomInfo#}</font></td>
  </tr>
  <tr align="center">
    <td  height="30"><font color="#000000"> {#modShowCount#}</font></td>
  </tr>
</table>
<table width="776" height="4" border=0 align="center" cellpadding=0 cellspacing=0 background="images/topline2.gif">
  <tr>
    <td height="1" bgcolor="#d2d2d2"></td>
  </tr>
  <tr>
    <td height="3" bgcolor="#eeeeee"></td>
  </tr>
</table>
