<link href="images/style.css" rel="stylesheet" type="text/css">
 

<table width="776" height="69" border="0" align="center" cellpadding="0" cellspacing="0" background="images/topbg.gif">
  <tr>
    <td width="178" align="center">{#modLogo#}</td>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="22">&nbsp;</td>
          <td align="right" style="padding-right:8px"><img src="images/titledot.gif" width="9" height="9"> <font style="cursor:hand;color:#ffffff" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{#SiteHttp#}');">{#lanSetIndex#}</font> <img src="images/titledot.gif" width="9" height="9"> <font style="cursor:hand;color:#ffffff" onClick="window.external.addFavorite('{#SiteHttp#}','{#SiteName#}')">{#lanAddFav#}</font></td>
        </tr>
        <tr>
          <td width="12" height="47"><img src="images/top1.gif" width="12" height="47"></td>
          <td background="images/top2.gif" style="padding-top:5px">{#modLoginForm#}</td>
        </tr>
    </table></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="10" background="images/topline1.gif">
  <tr>
    <td width="220" align="center"></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="31" background="images/menubg.gif">
  <tr>
    <td>{#modMainMenu#}</td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" background="images/smenubg.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td style="padding-left:10px">{#modSecondMenu#}</td>
  </tr>
</table>
<table width="776" border="0" cellspacing="0" cellpadding="0" align="center" background="images/centerbg.gif" height="80" >
  <tr>
    <td height=3 bgcolor="#ffffff"></td>
  </tr><tr>
    <td align="center">{#Advs[1][776*81]#}</td>
  </tr>  <tr>
    <td height=3 bgcolor="#ffffff"></td>
  </tr>
</table>

<TABLE cellSpacing=0 cellPadding=0 width="776" align=center border=0 background="images/centerbg.gif" >
  <TBODY> 
  <TR> 
    <td width=195 valign=top background=images/leftbg.gif><table height=29 cellspacing=0 cellpadding=0 width=100% background=images/lefttitle.gif border=0>
        <tbody>
          <tr>
            <td><table cellspacing=0 cellpadding=0 width=100% border=0>
                <tbody>
                  <tr align="center">
                    <td ><font color="#FFFFFF"><b> {#lanProdSearch#}</b></font></td>
                  </tr>
                </tbody>
            </table></td>
          </tr>
        </tbody>
      </table>
        <table height=120 cellspacing=1 cellpadding=3 width="93%" align=center border=0 >
          <tbody>
            <tr>
              <td valign=top>{#modProdSearchForm#}</td>
            </tr>
          </tbody>
        </table>
        <table height=29 cellspacing=0 cellpadding=0 width=100% background=images/lefttitle.gif border=0>
          <tbody>
            <tr>
              <td><table cellspacing=0 cellpadding=0 width=100% border=0>
                  <tbody>
                    <tr align="center">
                      <td ><font color="#FFFFFF"><b> {#lanProdClass#}</b></font></td>
                    </tr>
                  </tbody>
              </table></td>
            </tr>
          </tbody>
        </table>
        <table height=120 cellspacing=1 cellpadding=3 width="90%" align=center border=0 >
          <tbody>
            <tr>
              <td valign=top>{#modProdClassAll#}</td>
            </tr>
          </tbody>
      </table></td>
    <td width=1 valign=top></td>
    <TD vAlign=top height=200> 
      <table height=26 cellspacing=0 cellpadding=0 width="100%" align=center border=0 background="images/navbg.gif">
        <tbody> 
        <tr> 
          <td class=nav>{#lanLocat#}:<a class=nav href="../../../../">{#SiteName#}</a> 
            &gt; <a href="../../"  class=nav>{#CompanyName#}</a> &gt; {#title#}</td>
        </tr>
        </tbody> 
      </table>
            <table width="100%" border="0" cellspacing="1" cellpadding="2" class=table>
        <tr class=list> 
          <td> 
            <table height=200 cellspacing=1 cellpadding=0 width="100%" border=0 bgcolor="#E6E6E6">
              <tr valign=top>
                <td class="companyintro" bgcolor="#FFFFFF" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="65%"><table width="100%" border="0" cellspacing="1" cellpadding="1" class="table">
                        <tr class=list>
                          <td height="24" align="center" ><b><strong>{#lanProdName#}</strong>:<font color="#FF3300"> </font></b></td>
                          <td height="22"  style="color:#666666" > {#title#}</td>
                        </tr>
                        <tr class=list>
                          <td height="24" align="center" ><strong>{#lanProdIntro#}<b>:<font color="#FF3300"> </font></b></strong></td>
                          <td height="22"  style="color:#666666" >{#body#} </td>
                        </tr>
                          <tr class=list>
                            <td width="90" height="24" align="center" ><b>{#lanCompanyName#}:</b></td>
                            <td height="22"  style="color:#666666" ><a href="../../"  class=nav>{#CompanyName#}</a> <img src="images/maintitle.gif" width="11" height="11"> <a href="{#bbsurl#}" target="_blank">{#lanLookDiscus#}</a> </td>
                          </tr>
                      </table></td>
                    </tr>
                </table></td>
              </tr>
              <tbody> 
              <tr valign=top> 
                <td class="companyintro" bgcolor="#FFFFFF" style="padding:8px"> 
                  <table width="150" height="100" border="0" cellpadding="1" cellspacing="1" bgcolor="#dddddd">
                    <tr>
                      <td align="center" bgcolor="#FFFFFF" ><script>
function setImg(theURL,px){ 

	imgObj = new Image();
	imgObj.src = theURL;
	if(!imgObj.width){
		document.write("<a href='"+ theURL +"' ><img src='"+ theURL +"'  width='"+ px +"'  border=0 ></a>");
	}else{

	if(imgObj.width>=imgObj.height){
		if(imgObj.width>=px){
			document.write("<a href='"+ theURL +"' target='_blank'><img src='"+ theURL +"' width='"+ px +"' border=0 ></a>");
		}else{
			document.write("<a href='"+ theURL +"' target='_blank'><img src='"+ theURL +"'  border=0 ></a>");
		}
	}else{
		if(imgObj.height>=px){
			document.write("<a href='"+ theURL +"' target='_blank'><img src='"+ theURL +"' height='"+ px +"'  border=0 ></a>");
		}else{
			document.write("<a href='"+ theURL +"' target='_blank'><img src='"+ theURL +"'  border=0 ></a>");
		}
	}
	}
	
}
</script><script>setImg('{#picsrc#}',500);</script></td>
                    </tr>
                  </table>
                  </td>
              </tr>
              <tr valign=top>
                <td class="companyintro" bgcolor="#FFFFFF" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="65%"><table width="100%" border="0" cellspacing="1" cellpadding="1" class="table">
                          <tr class=list>
                            <td width="90" height="24" align="center" ><b>{#lanInfoUptime#}:<font color="#FF3300"> </font></b></td>
                            <td height="22"  style="color:#666666" > {#uptime#}</td>
                          </tr>
                      </table></td>
                    </tr>
                </table></td>
              </tr>
              <tr valign=top>
                <td class="companyintro" bgcolor="#FFFFFF" ><table width="100%" height="3"  border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td></td>
                  </tr>
                </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" height="30"   background="images/detailtitle.gif">
                  <tr >
                    <td  width="30" align="center" ></td>
                    <td >{#lanRealteBbs#}</td>
                    <td width="90" >&nbsp;</td>
                  </tr>
                </table>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0">
                    <tr>
                      <td valign="top"> {#modCompanyCommentList#}</td>
                    </tr>
                  </table>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0">
                    <tr>
                      <td height="100" valign="top"><table width="100%" height="32"  border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="26" align="center"><img src="images/morepic.gif" width="12" height="12"></td>
                            <td>&nbsp;<strong>{#lanPubBbs#}</strong></td>
                          </tr>
                        </table>
                          <table width="100%" height="3"  border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#e2e2e2">
                            <tr>
                              <td align="right"><table width="8" height="3" border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0">
                                  <tr>
                                    <td></td>
                                  </tr>
                              </table></td>
                            </tr>
                          </table>
                          <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                              <td width="3" valign="bottom" bgcolor="#e2e2e2"><table width="100%" height="8"  border="0" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0">
                                  <tr>
                                    <td></td>
                                  </tr>
                              </table></td>
                              <td><table width="100%" height="100"  border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class=table>
                                  <tr>
                                    <td valign="top" style="padding:1px">{#modCommentForm#}</td>
                                  </tr>
                              </table></td>
                            </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
              </tbody> 
            </table>
          </td>
        </tr>
      </table>
    </TD>
  </TR>
  </TBODY> 
</TABLE>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="10" background="images/topline1.gif">
  <tr>
    <td width="220" align="center"></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="29" background="images/btbg.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td colspan="2" align="center">{#modBottomMenu#}</td>
  </tr>
</table>
<table width="776" height="4" border=0 align="center" cellpadding=0 cellspacing=0 background="images/topline2.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td height="1" bgcolor="#d2d2d2"></td>
  </tr>
  <tr>
    <td height="3" bgcolor="#eeeeee"></td>
  </tr>
</table>
<table width="776" border="0" cellspacing="0" cellpadding="8" align="center" style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid" background="images/bottombg.gif">
  <tr align="center" bgcolor="#E6E6E6">
    <td  height="1"></td>
  </tr>
  <tr align="center">
    <td  height="60"><font color="#333333">{#modButtomInfo#}</font></td>
  </tr>
  <tr align="center">
    <td  height="30"><font color="#000000"> {#modShowCount#}</font></td>
  </tr>
</table>
<table width="776" height="4" border=0 align="center" cellpadding=0 cellspacing=0 background="images/topline2.gif">
  <tr>
    <td height="1" bgcolor="#d2d2d2"></td>
  </tr>
  <tr>
    <td height="3" bgcolor="#eeeeee"></td>
  </tr>
</table>
