<link href="images/style.css" rel="stylesheet" type="text/css">


<table width="776" height="69" border="0" align="center" cellpadding="0" cellspacing="0" background="images/topbg.gif">
  <tr>
    <td width="178" align="center">{#modLogo#}</td>
    <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="22">&nbsp;</td>
          <td align="right" style="padding-right:8px"><img src="images/titledot.gif" width="9" height="9"> <font style="cursor:hand;color:#ffffff" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{#SiteHttp#}');">{#lanSetIndex#}</font> <img src="images/titledot.gif" width="9" height="9"> <font style="cursor:hand;color:#ffffff" onClick="window.external.addFavorite('{#SiteHttp#}','{#SiteName#}')">{#lanAddFav#}</font></td>
        </tr>
        <tr>
          <td width="12" height="47"><img src="images/top1.gif" width="12" height="47"></td>
          <td background="images/top2.gif" style="padding-top:5px">{#modLoginForm#}</td>
        </tr>
    </table></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="10" background="images/topline1.gif">
  <tr>
    <td width="220" align="center"></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="31" background="images/menubg.gif">
  <tr>
    <td>{#modMainMenu#}</td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" background="images/smenubg.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td style="padding-left:10px">{#modSecondMenu#}</td>
  </tr>
</table>
<table width="776" border="0" cellspacing="0" cellpadding="0" align="center" background="images/centerbg.gif" height="80" >
  <tr>
    <td height=3 bgcolor="#ffffff"></td>
  </tr><tr>
    <td align="center">{#Advs[1][776*81]#}</td>
  </tr>  <tr>
    <td height=3 bgcolor="#ffffff"></td>
  </tr>
</table>

<table width="776" border="0" cellspacing="0" cellpadding="0" height="200" background="images/centerbg.gif" align="center">
  <tr>
    <td valign="top"><table  width="100%" border="0" cellspacing="1" cellpadding="0">
          <tr>
            <td  valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" height="25" background="images/companytitle.gif">
                <tr>
                  <td width="50" align="center"><img src="images/companytitle1.gif" width="24" height="25"></td>
                  <td style="font-size:14px;color:#ffffff;font-weight:bold">{#lanNews1#}</td>
                  <td style="font-size:12px;color:#ffffff;font-weight:bold" width="180" align="right">&nbsp;</td>
                  <td style="font-size:12px;color:#ffffff;font-weight:bold" width="10" align="right">&nbsp;</td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td height="120"  valign="top" bgcolor="#ffffff" style="padding:8px"><table width="100%" height="120"  border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="200" valign="top">{#modNewsPic-2#}</td>
                  <td width="5" valign="top" background="images/deshed.gif">&nbsp;</td>
                  <td valign="top" style="padding:5px">{#modNewsList-2#} </td>
                </tr>
            </table></td>
          </tr>
        </table>
        <table  width="100%" border="0" cellspacing="1" cellpadding="0">
          <tr>
            <td  valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" height="25" background="images/companytitle.gif">
                <tr>
                  <td width="50" align="center"><img src="images/companytitle1.gif" width="24" height="25"></td>
                  <td style="font-size:14px;color:#ffffff;font-weight:bold">{#lanNews2#}</td>
                  <td style="font-size:12px;color:#ffffff;font-weight:bold" width="180" align="right">&nbsp;</td>
                  <td style="font-size:12px;color:#ffffff;font-weight:bold" width="10" align="right">&nbsp;</td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td height="120"  valign="top" bgcolor="#ffffff" style="padding:5px"><table width="100%" height="120"  border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="200" valign="top">{#modNewsPic-1#}</td>
                  <td width="5" valign="top" background="images/deshed.gif">&nbsp;</td>
                  <td valign="top" style="padding:8px">{#modNewsList-1#} </td>
                </tr>
            </table></td>
          </tr>
        </table>
        <table  width="100%" border="0" cellspacing="1" cellpadding="0">
          <tr>
            <td  valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" height="25" background="images/companytitle.gif">
                <tr>
                  <td width="50" align="center"><img src="images/companytitle1.gif" width="24" height="25"></td>
                  <td style="font-size:14px;color:#ffffff;font-weight:bold">{#lanNews3#}</td>
                  <td style="font-size:12px;color:#ffffff;font-weight:bold" width="180" align="right">&nbsp;</td>
                  <td style="font-size:12px;color:#ffffff;font-weight:bold" width="10" align="right">&nbsp;</td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td height="120"  valign="top" bgcolor="#ffffff" style="padding:5px"><table width="100%" height="120"  border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="200" valign="top">{#modNewsPic-3#}</td>
                  <td width="5" valign="top" background="images/deshed.gif">&nbsp;</td>
                  <td valign="top" style="padding:8px">{#modNewsList-3#} </td>
                </tr>
            </table></td>
          </tr>
      </table></td>
    <TD vAlign=top width=1 background="images/hline.gif" ></TD>
    <td width=195 height=186 valign=top background=images/leftbg.gif><table width=195 height=30 border=0 cellpadding=0 cellspacing=0 background="images/lefttitle.gif">
        <tbody>
          <tr>
            <td><table cellspacing=0 cellpadding=0 width=180 border=0>
                <tbody>
                  <tr>
                    <td width=18></td>
                    <td width="162" class="lefttitle"> {#lanClass#}</td>
                  </tr>
                </tbody>
            </table></td>
          </tr>
        </tbody>
      </table>
        <table width="100%" border=0 align=center cellpadding=0 cellspacing=0 background="images/leftbg2.gif">
          <tbody>
            <tr>
              <td valign=top style="padding-left:2px"><table width="90%" height="80"  border="0" align="center" cellpadding="0" cellspacing="3">
                  <tr>
                    <td valign="top">{#modNewsClass#}</td>
                  </tr>
              </table></td>
            </tr>
          </tbody>
        </table>
        <table height=30 cellspacing=0 cellpadding=0 width=195 background=images/lefttitle.gif border=0>
          <tbody>
            <tr>
              <td><table width=180 border=0 align="center" cellpadding=0 cellspacing=0>
                  <tbody>
                    <tr>
                      <td width=15></td>
                      <td class="lefttitle" >{#lanBrand#}</td>
                    </tr>
                  </tbody>
              </table></td>
            </tr>
          </tbody>
        </table>
        <table height=60 cellspacing=1 cellpadding=0 width="180" align=center border=0>
          <tbody>
            <tr>
              <td align="center">{#Advs[2][180*60]#}</td>
            </tr>
          </tbody>
        </table>
        <table height=60 cellspacing=1 cellpadding=0 width="180" align=center border=0>
          <tbody>
            <tr>
              <td align="center">{#Advs[2][180*60]#}</td>
            </tr>
          </tbody>
        </table>
        <table height=60 cellspacing=1 cellpadding=0 width="180" align=center border=0>
          <tbody>
            <tr>
              <td align="center">{#Advs[2][180*60]#}</td>
            </tr>
          </tbody>
        </table>
        <table height=60 cellspacing=1 cellpadding=0 width="180" align=center border=0>
          <tbody>
            <tr>
              <td align="center">{#Advs[2][180*60]#}</td>
            </tr>
          </tbody>
        </table>
        <table height=60 cellspacing=1 cellpadding=0 width="180" align=center border=0>
          <tbody>
            <tr>
              <td align="center">{#Advs[2][180*60]#}</td>
            </tr>
          </tbody>
        </table>
        <table height=60 cellspacing=1 cellpadding=0 width="180" align=center border=0>
          <tbody>
            <tr>
              <td align="center">{#Advs[2][180*60]#}</td>
            </tr>
          </tbody>
        </table></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="10" background="images/topline1.gif">
  <tr>
    <td width="220" align="center"></td>
  </tr>
</table>
<table cellspacing=0 cellpadding=0 width="776" border=0 align="center" height="29" background="images/btbg.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td colspan="2" align="center">{#modBottomMenu#}</td>
  </tr>
</table>
<table width="776" height="4" border=0 align="center" cellpadding=0 cellspacing=0 background="images/topline2.gif"  style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid">
  <tr>
    <td height="1" bgcolor="#d2d2d2"></td>
  </tr>
  <tr>
    <td height="3" bgcolor="#eeeeee"></td>
  </tr>
</table>
<table width="776" border="0" cellspacing="0" cellpadding="8" align="center" style="border-left:1px #d2d2d2 solid;border-right:1px #d2d2d2 solid" background="images/bottombg.gif">
  <tr align="center" bgcolor="#E6E6E6">
    <td  height="1"></td>
  </tr>
  <tr align="center">
    <td  height="60"><font color="#333333">{#modButtomInfo#}</font></td>
  </tr>
  <tr align="center">
    <td  height="30"><font color="#000000"> {#modShowCount#}</font></td>
  </tr>
</table>
<table width="776" height="4" border=0 align="center" cellpadding=0 cellspacing=0 background="images/topline2.gif">
  <tr>
    <td height="1" bgcolor="#d2d2d2"></td>
  </tr>
  <tr>
    <td height="3" bgcolor="#eeeeee"></td>
  </tr>
</table>
