<!-start->
<table width="98%"  border="0" cellspacing="0" cellpadding="0">
  <!-start->
  <!-rowstart->
  <tr>
    <!-rowstart->
    <!-menu->
    <td width="20" align="center" ><img src="images/dian.gif" width="12" height="12"></td>
    <td height="18" ><a href="{#link#}" target="{#target#}" class=fontg>{#title#}</a> </td>
    <!-menu->
    <!-rowend->
  </tr>
  <!-rowend->
  <!-end->
</table>
<!-end->

<!-more->
<table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr align="right"> 
      <td><a href="{#morelink#}" class="more">{#more#}</a></td>
  </tr>
</table>
<!-more->