<!-start->
<table width="98%"  border="0" cellspacing="0" cellpadding="0">
<!-start->
<!-list->

  <tr>
    <td width="28" align="center"><img src="images/titledot.gif" width="9" height="9"></td>
    <td height="21"><a href="{#link#}" class="tList" target="{#target#}" {#bold#} {#red#} >{#title#}</a>&nbsp;<font class="tList1" {#bold#} {#red#}></font></td>
  </tr>


<!-list->

<!-end->
</table>
<!-end->

<!-more->
<table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr align="right"> 
      <td><a href="{#morelink#}" class="more">{#more#}</a></td>
  </tr>
</table>
<!-more->