<!-start->

<table width="98%"  border="0" cellspacing="0" cellpadding="0">
<!-start->
<!-list->

  <tr>
    <td width="20"><img src="images/bbslist.gif" width="15" height="17"></td>
    <td height="21"><strong>{#lanNetDiscus#} </strong><span class="fontg">{#dtime#}</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="21"><a href="{#link#}" class="tList" target="{#target#}" {#bold#} {#red#} >{#title#}</a>&nbsp;<font class="tList1" {#bold#} {#red#}>&nbsp;</font></td>
  </tr>


<!-list->

<!-end->
</table>
<!-end->

<!-more->
<table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr align="right"> 
      <td><a href="{#morelink#}" class="more">{#more#}</a></td>
  </tr>
</table>
<!-more->