<!-start->
<table width="98%"  border="0" cellspacing="0" cellpadding="0">
<!-start->
<!-list->

  <tr >
    <td width="28" align="center"><img src="images/point_select.gif" width="11" height="11"></td>
    <td height="23"><a href="{#link#}" class="tList" target="{#target#}" {#bold#} {#red#} >{#title#}</a>&nbsp;<font color="#CCCCCC">({#dtime#})</font></td>
  </tr>


<!-list->

<!-end->
</table>
<!-end->

<!-more->
<table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr align="right"> 
      <td><a href="{#morelink#}" class="more">{#more#}</a></td>
  </tr>
</table>
<!-more->