 
<table width="100%" border="0" cellspacing="1" cellpadding="2" class=table>
  <form method="post" name="form" action="member_zsmodify.php"  enctype="multipart/form-data">
    <tr> 
                  
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" height="30" background="images/detailtitle.gif">
              <tr> 
                <td  width="30" align="center" ></td>
            <td >{#lanZsModify#}</td>
        </tr>
      </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="2" class="table">
          <tr > 
            <td width="130" align="right" height="24" >{#lanZsPic#}:<b><font color="#FF3300"> 
              </font></b></td>
            <td height="22"  style="color:#666666" > 
              <input type="file" name="jpg" style="width:300px" class=input>
            </td>
          </tr>
          <tr >
            <td align="right" height="24" >{#lanZsName#}:<b><font color="#FF3300"> </font></b></td>
            <td height="22"  style="color:#666666" ><input type="text" name="title"  class=input  value="{#title#}" style="width:300px">
                <font color="#FF3300">*</font></td>
          </tr>
          <tr > 
            <td width="130" align="right" height="24" >&nbsp;</td>
            <td height="22"  style="color:#666666" > 
              <input type="submit" name="Submit2" value="{#lanSubmit#}" class="button">
              <input type="hidden" name="step" value="{#step#}">
              <input type="hidden" name="id" value="{#id#}">
            </td>
          </tr>
        </table>
      </td>
                </tr>  </form>
              </table>
