<!-start->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
<!-start->

<!-rowstart-> 
	<tr >
	  
<!-rowstart-> 

<!-menu-> <!-text->
    <td width="20" align=center class="piclist"><img src="images/maintitle.gif" width="11" height="11"></td><td height="22" class="piclist">
		
		<a href="{#link#}" target="{#target#}" class=fontg>{#title#}</a></div>
		
	</td>
    <!-text->
    <!-menu->


<!-rowend-> 
</tr>
<!-rowend->  

<!-end->
</table>
<!-end->

<!-more->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr align="right"> 
      <td><a href="{#morelink#}" class="more">{#more#}</a></td>
  </tr>
</table>
 <!-more->
