<!-start->

<table width="100%" border="0" cellspacing="0" cellpadding="0" height="25" background="images/companytitle.gif">
  <tr>
    <td width="50" align="center"><img src="images/companytitle1.gif" width="24" height="25"></td>
    <td style="font-size:14px;color:#ffffff;font-weight:bold">{#bbsclass#}</td>
    <td style="font-size:12px;color:#ffffff;font-weight:bold" width="180" align="right">&nbsp;</td>
  </tr>
</table>
<table width="100%"  cellspacing="0"  cellpadding="0" class=bbstable>
  
  <!-start-> <!-rowstart-> 
  <tr >
   
    <!-rowstart-> <!-list-> 
    <td class="bbsquery"><table width="100%"  border="0" cellpadding="2" cellspacing="1" bgcolor="#f0f0f0">
   
      <tr>
        <td width="12" align="center"  style="padding-top:8px;">&nbsp;</td>
        <td width="26" style="padding-top:8px;"><img src={#face#}></td>
        <td width="280" height="33" style="padding-top:8px;"><a href="{#link#}" target="{#target#}" class="bbsquery" ><strong>{#title#}</strong></a></td>
        <td align="right" style="padding-top:8px;padding-right:8px"><img src="images/point_select.gif" width="11" height="11"> <a href="{#relatelink#}" class="fontg" target="_blank">{#lanRealteTitle#}</a> &nbsp;<font style="font-size:9px;color:#336699"><img src="images/join.gif" width="10" height="9"></font>&nbsp;&nbsp;{#lanBrowseTimes#}:{#cl#}{#lanReadTimes#} &nbsp;{#lanAnswer#}:{#count#}{#lanPian#}</td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        <td height="50" colspan="3" bgcolor="#FFFFFF" style="cursor:hand;border:1px #e5e5e5 solid" onMouseOver="this.bgColor='#f2f8fb'"  onMouseOut="this.bgColor='#FFFFFF'" onClick="window.location='{#link#}'"><table width="99%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="30" valign="top" style="padding:12px">{#body#}</td>
            </tr>
            <tr>
              <td height="25" align="right">&nbsp;<img src="images/x25.gif" width="14" height="11"> {#lanAuthor#}:{#author#}&nbsp;<font style="font-size:9px;color:#336699"><img src="images/join.gif" width="10" height="9"></font>&nbsp;{#lanLastPub#}:{#dtime#} By {#lastname#}</td>
            </tr>
          </table></td>
      </tr>
     
    </table>
    </td>
    <!-list-> <!-rowend-> </tr>
  <!-rowend-> <!-end-> 
</table>
<!-end->