 
<table width="100%" border="0" cellspacing="1" cellpadding="2" class=table>
    <tr class=list> 
                  
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" height="30" background="images/detailtitle.gif">
              <tr> 
                <td  width="30" align="center" ></td>
          <td >{#lanCompanyCommon#}</td>
          <td width="100" align="center" ><a href="member_companymodify.php">{#lanCompanyModify#}[&gt;]</a></td>
          <td width="100" align="center" ><a href="{#companyurl#}" target="_blank">{#lanLookCompany#}[&gt;]</a></td>
        </tr>
      </table>
        
      <table width="100%" border="0" cellspacing="1" cellpadding="2" class="table">
        <tr class=list> 
          <td width="110" height="24" align="center" ><b>{#lanCompanyName#}:<font color="#FF3300"> 
            </font></b></td>
          <td height="22"  style="color:#666666" > {#company#}</td>
        </tr>
        <tr class=list> 
          <td width="110" height="24" align="center"><b>{#lanCompanyType#}:</b></td>
          <td height="22"  style="color:#666666" > {#companytype#}</td>
        </tr>
        <tr class=list> 
          <td width="110" height="24" align="center" ><b>{#lanTradeType#}:</b></td>
          <td height="22"  style="color:#666666" >{#tradetype#} </td>
        </tr>
        <tr class=list>
          <td width="110" height="24" align="center" ><b>{#lanZone#}:</b></td>
          <td height="22"  style="color:#666666" > {#zone#}</td>
        </tr>
        <tr class=list>
          <td width="110" height="24" align="center" ><b>{#lanAddr#}:</b></td>
          <td height="22"  style="color:#666666" > {#addr#}</td>
        </tr>
        <tr class=list> 
          <td width="110" height="24" align="center" ><b>{#lanBizaddr#}:</b></td>
          <td height="22"  style="color:#666666" > {#bizaddr#}</td>
        </tr>
        <tr class=list> 
          <td width="110" height="24" align="center" ><b>{#lanBizprod#}:</b></td>
          <td height="22"  style="color:#666666" > {#bizprod#}<font color="#FF3300"></font> 
          </td>
        </tr>
        <tr class=list> 
          <td width="110" height="24" align="center" valign="top" ><b>{#lanCompanyCat#}:</b></td>
          <td height="22"  style="color:#666666" valign="top" > {#companycat#}</td>
        </tr>
        <tr class=list> 
          <td width="110" align="center"  valign="top"><b>{#lanCompanyIntro#}:</b></td>
          <td height="50"  style="color:#666666"  valign="top"> {#intro#} </td>
        </tr>
      </table>
                  
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" height="30" background="images/detailtitle.gif">
              <tr> 
                <td  width="30" align="center" ></td>
            <td >{#lanContactInfo#}</td>
        </tr>
      </table>
        
      <table width="100%" border="0" cellspacing="1" cellpadding="2"  class="table">
        <tr class=list> 
          <td width="110" height="24" align="center" ><b>{#lanContactName#}:</b></td>
          <td height="22"  style="color:#666666" > {#name#} </td>
        </tr>
        <tr class=list> 
          <td width="110" height="24" align="center" ><b>{#lanTel#}:</b></td>
          <td height="22"  style="color:#666666" > {#tel#} </td>
        </tr>
        <tr class=list> 
          <td width="110" height="24" align="center" ><b>{#lanFax#}:</b></td>
          <td height="22"  style="color:#666666" > {#fax#} </td>
        </tr>
        <tr class=list> 
          <td width="110" height="24" align="center" ><b>{#lanPostcode#}:</b></td>
          <td height="22"  style="color:#666666" > {#postcode#}</td>
        </tr>
        <tr class=list> 
          <td width="110" height="24" align="center" ><b>{#lanEmail#}:</b></td>
          <td height="22"  style="color:#666666" > {#email#} </td>
        </tr>
        <tr class=list> 
          <td width="110" height="24" align="center" ><b>{#lanUrl#}:</b></td>
          <td height="22"  style="color:#666666" > {#url#} </td>
        </tr>
        <tr class=list>
          <td width="110" height="24" align="center" ><b>{#lanCompanyFb#}:</b></td>
          <td height="22"  style="color:#666666" ><font color="#FF6600"><b>{#sayfb#} </b></font> &nbsp; &nbsp; &nbsp;<a href="member_companymodify.php">{#lanCompanyModify#}&gt;&gt;&gt;</a></td>
        </tr>
      </table>
      </td>
    </tr>  
              </table>
