<!-start->
<table width="100%" height=31 border=0 cellpadding=0 cellspacing=0>
  <!-start-> <!-rowstart-> 
  <tr>
<!-rowstart-> 
<!-menunow-> 
    <td width="4" align='center'><img src="images/menunowleft.gif" width="4" height="31"></td>
    <td align='center' background="images/menunowbg.gif">
	<a href="{#menuurl#}" class=menunow target="{#target#}">{#menu#}</a>
	</td>
     <td width="4" align='center'><img src="images/menunowright.gif" width="4" height="31"></td>
<!-menunow->
	
<!-menudivide-> 
<td width=1 background="images/menudevid.gif"></td>
<!-menudivide->

<!-blankdivide->
<td width=1 background="images/menudevid.gif" ></td>
<!-blankdivide->


	<!-menu->
	    <td width="4" align='center'><img src="images/menuleft.gif" width="4" height="31"></td>

		<td align='center' >
		<!-text->
			<a href="{#menuurl#}"  class=menu target="{#target#}">{#menu#}</a>
		<!-text->
	</td>
	<td width="4" align='center'><img src="images/menuright.gif" width="4" height="31"></td>
    <!-menu->
    

<!-rowend-> 
</tr>
<!-rowend-> 
<!-end-> 
</table>
<!-end->