<table height=31 cellspacing=1 cellpadding=3 width="150" align=center border=0 class=table background="images/xxbg1.gif">
        <tbody> 
        <tr align="center"> 
          
    <td style="cursor:hand" onClick="window.location='{#link1#}'">{#lanCompanyMenu1#}</td>
        </tr>
        </tbody> 
      </table>
      
      
<table height=31 cellspacing=1 cellpadding=3 width="150" align=center border=0 class=table background="images/xxbg1.gif">
  <tbody>
    <tr align="center">
      <td style="cursor:hand" onClick="window.location='{#link5#}'">{#lanCompanyMenu5#}</td>
    </tr>
  </tbody>
</table>
<table height=31 cellspacing=1 cellpadding=3 width="150" align=center border=0 class=table background="images/xxbg1.gif">
  <tbody> 
  <tr align="center"> 
    <td  style="cursor:hand" onClick="window.location='{#link3#}'">{#lanCompanyMenu3#}</td>
  </tr>
  </tbody> 
</table>
<table height=31 cellspacing=1 cellpadding=3 width="150" align=center border=0 class=table background="images/xxbg1.gif">
        <tbody> 
        <tr align="center"> 
          
    <td style="cursor:hand" onClick="window.location='{#link2#}'">{#lanCompanyMenu2#}</td>
        </tr>
        </tbody> 
</table>
      <table height=31 cellspacing=1 cellpadding=3 width="150" align=center border=0 class=table background="images/xxbg1.gif">
        <tbody> 
        <tr align="center"> 
          
    <td style="cursor:hand" onClick="window.location='{#link9#}'">{#lanCompanyMenu9#}</td>
        </tr>
        </tbody> 
</table>