
              
<table width="150" border="0" cellspacing="1" cellpadding="2" align="center">
  <form name="form" action="{#RP#}company/class/">
    <tr> 
      <td> 
        <script language=javascript src='{#RP#}js/zonesearch.js'></script>
        {#ZoneString#} 
        <select onKeyUp='if(window.event.keyCode==13) document.form.zoneid.focus();'  onChange=provinceSelChange(form.zoneid,form.Province.value,'{#zoneid#}') name="Province"  style="color:#666666;font-size:12px" >
          <script language=javascript>document.write(pList.getOptionString('{#Province#}'));
								</script>
        </select>
      </td>
    </tr>
    <tr> 
      <td  > 
        <select onKeyUp='if(window.event.keyCode==13) document.form.regCardNum.focus();'  name="zoneid"  style="color:#666666;font-size:12px">
          <script language=javascript>
document.write(pList.getOptionAreasString(form.Province.value,form.zoneid,'{#zoneid#}',1));
</script>
        </select>
      </td>
    </tr>
    <tr> 
      <td> 
        <select name="catid">
          <option value="0">-- {#lanCompanyClassSel#} --</option>
                      {#catlist#}
                    
        </select>
      </td>
    </tr>
    <tr> 
      <td> 
        <select name="tradetype">
          <option value="0">-- {#lanTradetypeSel#} --</option>
                      {#tradetypelist#}
                    
        </select>
      </td>
    </tr>
    <tr> 
      <td> 
        <select name="showtj">
          <option value="0">-- {#lanCompanyTjSel#} --</option>
          <option value="1">{#lanShowTjOnly#}</option>
        </select>
        <input type="hidden" name="tp" value="search">
      </td>
    </tr>
    <tr> 
      <td> 
        <input type="text" name="key" class="input" value="{#key#}" size="20">
      </td>
    </tr>
    <tr>
      <td>
        <input name="imageField" type="image" src="images/search1.gif" width="63" height="20" border="0">
      </td>
    </tr>
  </form>
</table>
              
       