 
<table width="100%" border="0" cellspacing="1" cellpadding="2" class=table>
  <form method="post" name="form" action="member_feedbackdetail.php"  >
    <tr> 
                  
      <td> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" height="30" class=table background="images/detailtitle.gif">
          <tr > 
            <td  width="33" align="center" ></td>
            <td >[{#lanCFTitle#}] {#title#} </td>
          </tr>
        </table>
        <table height=200 cellspacing=1 cellpadding=0 width="100%" border=0 bgcolor="#E6E6E6">
          <tbody> 
          <tr valign=top> 
            <td bgcolor="#FFFFFF" style="padding:15px" height="200"> 
              {#body#} </td>
          </tr>
          </tbody> 
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" height="30" background="images/detailtitle.gif">
              <tr> 
                <td  width="33" align="center" ></td>
            <td >{#lanBack#}:{#title#} </td>
        </tr>
      </table>
        <table width="100%" border="0" cellspacing="1" cellpadding="2" class="table">
          <tr > 
            <td width="80" align="right" height="24" >{#lanCFTitle#}:<b><font color="#FF3300"> 
              </font></b></td>
            <td height="22"  style="color:#666666" > 
              <input type="text" name="title"  class=input style="width:380px" value="{#lanBack#}:{#title#}">
              <font color="#FF3300">*</font></td>
          </tr>
          <tr > 
            <td width="80" align="right" height="24" >{#lanCFBody#}:</td>
            <td height="22"  style="color:#666666" > 
              <textarea name="body" class="textarea"  rows="15" cols="60" ></textarea>
              <font color="#FF3300">*</font> 
              <input type="hidden" name="step" value="send">
              <input type="hidden" name="id" value="{#id#}">
            </td>
          </tr>
          <tr > 
            <td width="80" align="right" height="24" >{#lanCFCode#}:</td>
            <td height="22"  style="color:#666666" > 
              <table border="0" cellspacing="2" cellpadding="0" height="20">
                <tr> 
                  <td width="1"><font color="#FFFFFF"> 
                    <input type="text" name="ImgCode" style="width:39px"  class=input >
                    </font></td>
                  <td> 
                    <table width="30" border="0" cellspacing="1" cellpadding="0" >
                      <tr> 
                        <td><img src="{#RP#}codeimg.php" width="60" height="18" style="border:1px #dddddd solid"></td>
                        <td width="95" align="center"> 
                          <input type="submit" name="Submit" value="{#lanSubmit#}"  class=button>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
                </tr>  </form>
              </table>
