
              
<table width="150" border="0" cellspacing="1" cellpadding="2" align="center">
  <form name="form" action="{#RP#}{#bs#}/class/">
    <tr> 
      <td> 
        <script language=javascript src='{#RP#}js/zonesearch.js'></script>
        {#ZoneString#} 
        <select onKeyUp='if(window.event.keyCode==13) document.form.zoneid.focus();'  onChange=provinceSelChange(form.zoneid,form.Province.value,'{#zoneid#}') name="Province"  style="color:#666666;font-size:12px" >
          <script language=javascript>document.write(pList.getOptionString('{#Province#}'));
								</script>
        </select>
      </td>
    </tr>
    <tr> 
      <td> 
        <select onKeyUp='if(window.event.keyCode==13) document.form.regCardNum.focus();'  name="zoneid"  style="color:#666666;font-size:12px">
          <script language=javascript>
document.write(pList.getOptionAreasString(form.Province.value,form.zoneid,'{#zoneid#}',1));
</script>
        </select>
      </td>
    </tr>
    <tr> 
      <td> 
        <select name="catid">
          <option value="0">-- {#lanInfoClassSel#} --</option>
                      {#catlist#}
                    
        </select>
      </td>
    </tr>
    <tr> 
      <td> 
        <select name="showtj">
          <option value="0">-- {#lanCompanyTjSel#} --</option>
          <option value="1">{#lanInfoTjOnly#}</option>
        </select>
      </td>
    </tr>
    <tr> 
      <td> 
        <input type="hidden" name="tp" value="search">
        <select name="infotime">
          <option value="0">-- {#lanInfoTimeSel#} --</option>
          <option value="1">{#lanInfoTimeSel1#}</option>
		  <option value="3">{#lanInfoTimeSel2#}</option>
		  <option value="7">{#lanInfoTimeSel3#}</option>
		  <option value="10">{#lanInfoTimeSel4#}</option>		  
		  <option value="30">{#lanInfoTimeSel5#}</option>                    
        </select>
      </td>
    </tr>
    <tr> 
      <td> 
        <input type="text" name="key" class="input" value="{#key#}" size="20">
      </td>
    </tr>
    <tr> 
      <td> 
        <input name="imageField" type="image" src="images/search1.gif" width="63" height="20" border="0">
      </td>
    </tr>
  </form>
</table>
              
       