
<table width="100%" border="0" cellspacing="1" cellpadding="2" class=table>
  <tr> 
                  
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" height="30" background="images/detailtitle.gif">
        <tr> 
          <td  width="30" align="center" ></td>
          <td >{#lanNewsPub#}</td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="1" cellpadding="0" class="table">
             
      <form method="post" action="member_fabu.php">
               <tr >
                 <td height="5" colspan="2" align="center" ></td>
               </tr><tr >
                        <td width="110" align="center" height="24" >{#lanNewsCata#}:</td>
                        <td height="22" >
                          <select name="catid" style="width:399px" {#dis#}>
							{#catlist#}
                          </select>
                        </td>
          </tr>
               
                      <tr > 
                        <td width="110" align="center" height="24"  >{#lanArticalTitle#}:</td>
                        <td height="22"  > 
                          <input type="text" name="title"  class=input  value="{#title#}" style="width:399px">
                        </td>
                      </tr>
                      <tr > 
                        <td width="110" align="center"  >{#lanNewsCon#}:</td>
                        <td height="22" > 
                          <textarea name="body" class="textarea" style="width:399px" rows="15" >{#body#}</textarea>
                        </td>
                      </tr>
                      <tr > 
                        <td width="110" align="center"  >{#lanNewsAuthor#}:</td>
                        <td  > 
                          <input type="text" name="author"  class=input  value="{#author#}" style="width:399px">
                        </td>
                      </tr>
                      <tr > 
                        <td width="110" align="center"  >{#lanNewsSource#}:</td>
                        <td   > 
                          <input type="text" name="source"  class=input  value="{#source#}" style="width:399px">
                        </td>
                      </tr>
                      <tr > 
                        <td width="110" align="center"  >&nbsp;</td>
                        <td  > 
                          <input type="submit" name="Submit2" value="{#lanSubmit#}" class="button">
                          
            <input type="hidden" name="step" value="{#step#}">
            </td>
                      </tr></form>
      </table>
    </td>
                </tr>
              </table>